<div>
      <div class="user_container">
        <div class="user_image">
          <%= image_tag @posts[0].author.photo %>
        </div>
        <div class="user_content">
        <div style="margin-bottom: 15px;">
          <h1><%= @posts[0].author.name %></h1>
        </div>
        <div>
        <p class="number_of_posts">Number of posts: <%= @posts[0].author.posts_counter %></p>
        </div>
        </div>
      </div>
    </div>
<br>

<div class="new_post_container">
<button><%= link_to "Add New Post", new_user_post_url %></button>
</div>

<% if @posts.empty? %> 
  <div class="post_container">There are no posts by this user.</div>
<% else %>
<div>
<% @posts.each_with_index do |post, index| %>
  

  <div class="post_container">
    <div><%= link_to "Post  ##{index + 1}", user_post_path(post.author, post) %></div>
    <br>
    <div style="margin-bottom: 5px; font-weight: bold;"><%= post.title %></div>
    <div><%= post.text %></div>
    <div class="comments_likes">Comments: <%= post.comments_counter %>, Likes: <%= post.likes_counter %></div>
    </div>

  <div class="comments_container">
  <% if post.recent_5_comments == [] %> 
    <p>There are no comments for this post.</p>
  <% else %>
  <% post.recent_5_comments.includes([:user]).each do |comment| %>
    <div class="comment_container">
    <div><%= comment.user.name %>: <%= comment.text %></div>
    </div>
  <% end %>
  </div>
  <% end %>
  </div>
<% end %>
</div>
<% end %>

<div class="see_posts_container">
<button><%= link_to "Pagination", user_post_url(@posts[0].author, @posts[0]) %></button>
</div>

<div class="footer_space"></div>






