<div class="post_container">
  <div><%= link_to "Post ##{1} by #{@post.author.name}", user_post_path(@post.author, @post) %></div>
  <div class="comments_likes">Comments: <%= @post.comments_counter %>, Likes: <%= @post.likes_counter %></div>
  <div><%= @post.text %></div>
  </div>
  <div class="comments_container">
  <% if @post.comments == [] %> 
    <p>There are no comments for this post.</p>
  <% else %>
  <div>
  <% @post.comments.each do |comment| %>
    <div class="comment_container">
    <div><%= @post.author.name %>: <%= comment.text %></div>
    </div>
  <% end %>
  </div>
  <% end %>
  
</div>

# Add New Like
<div class="likes_container">
  <%= form_with model: Like, url: user_post_likes_path(post_id: @post), method: :post, scope: :like do |form| %>
    <div>
      <%= form.submit "Like" %>
    </div>
  <% end %>
</div>

# Add New Comment

<div class="comments_container">
  <%= form_with model: Comment, url: user_post_comments_path(post_id: @post), method: :post, scope: :comment do |form| %>
    <div>
      <%= form.label :Comment %><br>
      <%= form.text_area :text %>
    </div>
    <div>
      <%= form.submit "Add Comment" %>
    </div>
  <% end %>
  </div>