<div class="post_container">
<% if @post.author == current_user || current_user.role == "admin" %>
  <div class="delete-post-button">
  <%= button_to "Delete Post", user_post_path(@post.author, @post), method: :delete %>
  </div>
  <%end%>

  <div><%= link_to "Post ##{1} by #{@post.author.name}", user_post_path(@post.author, @post) %></div>
  <div class="comments_likes">Comments: <%= @post.comments_counter %>, Likes: <%= @post.likes_counter %></div>
  <br>
  <div style="margin-bottom: 5px; font-weight: bold;"><%= @post.title %></div>
  <div><%= @post.text %></div>
  </div>

  <div class="likes_container">
  <%= form_with model: Like, url: user_post_likes_path(post_id: @post), method: :post, scope: :like do |form| %>
    <div>
      <%= form.submit "Like" %>
    </div>
  <% end %>
</div>

  <div class="comments_container">
  <% if @post.comments == [] %> 
    <p>There are no comments for this post.</p>
  <% else %>

  <div>
  <% @post.comments.each do |comment| %>
    <div class="comment_container">
    <div><%= comment.user.name %>: <%= comment.text %></div>
    <!-- If you are current user or admin you can delete comment in your account only not of others -->
    <% if comment.user == current_user || current_user.role == "admin" %>
    <div class="delete-comment-button">
    <%= button_to "Delete Comment", user_post_comment_path(comment.user, comment.post, comment), method: :delete %>
    </div>
    <%end%>
    </div>
  <% end %>
  </div>
  <% end %>
  
</div>

<div class="new_post_container">
<button><%= link_to "Add Comment", new_user_post_comment_url(post_id: @post.id) %></button>
</div>